html {
    scroll-behavior: smooth;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 2em;
    padding-right: 2em;
    font-synthesis: none;
    background: linear-gradient(90deg, #2a2a2a, #101e62, #0334ff);
    background-size: 300% 300%;
    animation: gradientBackground 16s ease infinite;
    -webkit-background-clip: text;
}

@keyframes gradientBackground {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media (max-width: 625px) {
    :root {
        padding-left: 1em;
        padding-right: 1em;
    }
}

body {
    margin-left: 2em;
    margin-right: 2em;

}

@media (max-width: 625px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}

p {
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

@media (max-width: 625px) {
    .intro {
        flex-direction: column;
        gap: 1em;
    }

    .names {
        text-align: center;
    }
}

.names h2 {
    margin: auto;
}

.names img {
    width: 50px;
    height: 50px;
}

.main-text {
    display: inline;
    white-space: nowrap;
    position: relative;
}

@media (max-width: 625px) {
    .main-text {
        display: block;
    }
}

.main-text::after {
    content: '|';
    font-weight: bold;
    margin-left: 5px;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.menu {
    max-width: 550px;
    position: fixed;
    left: 0;
    right: 0;
    transition: transform 0.3s ease;
    z-index: 100;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 100px;
    backdrop-filter: blur(10px);

}

.menu.hidden {
    transform: translateY(-150%);
}


@media (max-width: 625px) {
    .menu ul {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .menu li {
        flex: 1;
        text-align: center;
    }
}

.menu ul {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    list-style-type: none;

}

.menu ul li {
    margin: 0 15px;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;

}

.menu ul li a:hover::after {
    width: 100%;
    left: 0;

}

.menu ul li a:active {
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.center {
    text-align: center;
    padding-bottom: 4em;
}

@media (max-width: 625px) {
    .center {
        padding-bottom: 2em;
    }
}

.face-img img {
    border: solid;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.social-links {
    padding-top: 25px;
}

.social-links a {
    padding-right: 15px;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 52px;
    background: linear-gradient(90deg, #ff6b6b, #2d46a9, #1dd1a1);
    background-size: 300% 300%;
    animation: gradientBackground 8s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 929px) {
    .welcome {
        font-size: 24px;
    }
}

.fadeOut {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.contents {
    opacity: 100%;
    transition: opacity 2s ease-in-out;
    font-size: 24px;
}

#introduction {
    display: block;
    height: 1px;
    padding-top: -60px;
    visibility: hidden;
}

.fadeIn {
    font-size: 24px;
    opacity: 20%;
}

.blockInteract {
    overflow: hidden;
}

.fullpage {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-container {
    margin: auto;
    padding-bottom: 25%;
    max-width: 1400px;
    width: 100%;
    position: relative;
}

.timeline {
    position: absolute;
    width: 0;
    height: 4px;
    background-color: white;
    transition: width 2s ease-out;

}

.timeline::after {
    content: '>';
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    top: -2.5rem;
    font-size: 3rem;
    transition: opacity 1s ease-out;
    opacity: 0;
}

.timeline.expanded::after {
    opacity: 1;
}

.event-container {
    display: flex;
    gap: 2vw;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.event h3 {
    font-size: 24px;
}

.event {
    font-size: 17px;
    text-align: justify-all;
    line-height: 1.5;
    position: relative;
    left: 1%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

@media (max-width: 768px) {
    .event-container {
        flex-direction: column;
    }

    .event {
        max-width: 100%;
        margin-bottom: 2vh;
    }
}

.skills-container {
    padding-bottom: 10%;
    width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2em;
}

.progress-container {
    width: 100%;
    background-color: black;
    border-radius: 12px;
    overflow: hidden;
    height: 12px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.progressbar {
    height: 100%;
    width: 0;
    background-color: white;
    transition: width 2.5s ease;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

details > summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
}

details[open] p {
    max-height: 100px;
    opacity: 1;
}

details[open] summary ~ * {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

@keyframes detailsFading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

details:hover p {
    max-height: 100px;
    opacity: 1;
}

.comp-main-container {
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    margin: auto;
    max-width: 1200px;
    min-height: 40vh;
}

.category-skills {
    display: flex;
    gap: 3em;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;

}

@media (max-width: 768px) {
    .category-skills {
        overflow-x: auto;
        white-space: nowrap;
    }

}

.category-skills button {
    font-size: 24px;
    font-family: Consolas, Courier New, monospace;
    color: white;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;

}

.category-skills button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;

}

.category-skills button:hover::after {
    width: 100%;
    left: 0;

}

.category-skills button:active {
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

@keyframes skill-fadeIn {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.skills-lists {
    opacity: 0;
    display: none;
}

.skills-lists.show {
    animation: skill-fadeIn 1s forwards;
    opacity: 1;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    flex-grow: 1;
}

.skills-lists p {

    text-align: center;
    color: white;
    padding: 0.6em;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
}

.skills-lists p:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .skills-lists {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        margin-left: 0;
    }

    .comp-main-container {
        flex-direction: column;
        align-items: center;
    }

    .category-skills {
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
    }

    .skills-lists p {
        font-size: 1rem;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.skill img {
    width: 80px;
    height: 80px;

}

.skill span {
    font-weight: lighter;
    font-family: Courier New, monospace;
    white-space: nowrap;
    font-size: 16px;
    text-align: center;

}

.projectgrid {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    width: 980px;
    height: 500px;
    margin: 0 auto;
    max-width: 60%;
    position: relative;
    transition: grid-template-columns 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.projectgrid:has(.slide:nth-child(2):hover, .slide:nth-child(2):focus-within) {
    grid-template-columns: 1fr 4fr 1fr 1fr;
}

.projectgrid:has(.slide:nth-child(3):hover,.slide:nth-child(3):focus-within) {
    grid-template-columns: 1fr 1fr 4fr 1fr;
}

.projectgrid:has(.slide:nth-child(4):hover,.slide:nth-child(4):focus-within) {
    grid-template-columns: 1fr 1fr 1fr 4fr;
}

.slide {
    padding: 0 0.2rem;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}

.slide span {
    font-family: Consolas, Courier New, monospace;
    display: block;
    position: absolute;
    transform-origin: center;
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.slide:hover span {
    transform: scale(1);
    opacity: 1;
    transition-delay: 100ms;
}

.slide:nth-child(1):not(:has(~.slide:hover, ~.slide:focus-within)) span {
    transform: scale(1);
    opacity: 1;
}

.slide img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: 1/1;
}

.unusable {
    cursor: default;
}

.footer {
    margin-top: 10%;
    text-align: center;
    border-top: 2px solid rgba(68, 68, 68, 0.44);
}

.footer p {
    padding-top: 10px;
    font-size: 14px;
    color: #333;
    margin: 0;
}

.footer p:hover {
    color: #ffffff;
    transition: color 0.3s ease;
}
